matrixmechanics.aux
matrixmechanics.log
complexnumbers.synctex.gz
complexnumbers.blg
complexnumbers.bbl
complexnumbers.aux
complexnumbers.log
math-quiz.aux
math-quiz.fls
math-quiz.synctex.gz
math-quiz.log
math-quiz.fdb_latexmk
